* {

    padding: 0;
    margin: 0;

}

body {
    background-color: rgb(223, 196, 196);
}

nav {


    margin: 3px 4px;
    background-color: rgb(19, 18, 18);
    width: 97%;
    height: auto;
    padding: 16px;
    /* display: flex; */

    /* text-align: center; */
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    gap: 43px;
    border-radius: 7px;
}

ul {
    margin: auto;
    /* background-color: rgb(49, 44, 44); */
    width: 15%;
    /* height: 43px; */
    display: flex;
    list-style-type: none;

    justify-content: center;
    gap: 43px;
    /* border-radius: 7px; */

}

a {
    color: rgb(253, 249, 249);

    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

li {
    color: white;
    padding: 4PX 13PX;
    border-radius: 8PX;
    background-color: rgba(26, 37, 35, 0.575);
}

li:hover {

    box-shadow: 02px 6px 20px 2px rgba(169, 175, 169, 0.61);

}

h1 {
    text-align: center;
    font-size: xx-large;
    color: white;
}

.food {
    /* padding-left:150px ;
    text-align: left; */
    /* transform: translatex(440px); */
    animation: fadeInDown 1.5s ease;
    /* animation: cubic-bezier(0.445, 0.05, 0.55, 0.95) ; */
}

@keyframes foods {
    from {
        opacity: 0;
        transform: translatex(-20px);
        color: rgb(12, 11, 11);
    }

    to {
        opacity: 1;
        transform: translatex(0);
    }
}

.main_h1 {
    display: block;
    padding: 15px;
    color: rgb(15, 12, 12);
    text-align: center;


}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
        color: rgb(95, 95, 104);
    }

    to {
        opacity: 1;
        transform: translateY(0);

    }
}

footer {

    margin: 3px 4px;
    border-radius: 4px;
    background-color: rgb(14, 13, 13);
    color: white;
    padding: 10px;
    width: 97vw;
    text-align: center;

}

main {
    margin: 1px 4px;
    min-height: 75vh;

    width: 98.3vw;
    background-color: rgb(241, 243, 245);
    border-radius: 6px;

    flex-wrap: wrap;
    overflow-x: hidden;
}

img {



    padding: 3px;
    width: 95%;
    height: 60%;
    margin: auto;
    opacity: 0.9;

    filter: blur(0.5px);



    overflow: hidden;


}

img:hover {


    opacity: 1;
    filter: blur(0px);
    filter: brightness(1px);
}



.items {

    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
    padding: 8px;
}

.name {


    text-align: center;

}

.button {
    text-align: center;

}

button {
    margin: 10px;
    text-decoration: none;
    background-color: yellow;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 14px;
    cursor: pointer;
}

button:hover {
    color: rgb(37, 31, 31);
    box-shadow: 0px 3px 13px 4px rgba(42, 243, 2, 0.562);

}

#Order {

    border-radius: 16px;
    position: fixed;
    top: 35%;
    left: 35%;
    width: 480px;
    height: 200px;
    background-color: rgba(22, 21, 20, 0.884);
    color: white;
    font-weight: 900;
    font-size: large;
    opacity: 1;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.hidden {
    display: none;
}

.menu {

    width: 10%;
    display: block;
    position: absolute;
    opacity: 0;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    padding: 9px;
    margin: 5px;

}

.menu:hover {

    opacity: 1;
    transition: 1s;

}

.menu>li {
    padding: 7px;
    margin: 7px;
    gap: 23px;
    background-color: rgb(37, 37, 37);
    text-align: center;
    cursor: pointer;
}

.item {

    max-width: 31.3%;
    max-height: 50%;

    margin: 4px;
    overflow: hidden;
    padding: 5px;
}
.main_hh{
    padding-top:120px ;
            color: rgb(255, 255, 255);
            font-size:  70px;
            /* background-image: url(meat-plate-with-potatoes-souce.png); */
       background-color: rgb(0, 0, 0);
       mix-blend-mode: multiply;
       height: 77%;
         }
@media only screen and (max-width : 467px) {


    body {

        background-color: blue;
    }

    nav {


        width: 90vw;
        margin: auto;
    }


    footer {


        width: 90vw;
        margin: auto;

    }

    ul {
        margin: auto;
        /* background-color: rgb(49, 44, 44); */
        /* width: 15%; */
        /* height: 43px; */
        display: flex;
        list-style-type: none;

        justify-content: center;
        gap: 10px;
        /* border-radius: 7px; */

    }

    li {
        color: white;
        padding: 3PX 9PX;
        border-radius: 8PX;
        background-color: rgba(26, 37, 35, 0.575);
        font-size: medium;
    }

    .item {

        max-width: 42.3%;

    }

    .name {


        font-size: small;
    }

    button {
        margin: 5px;

        font-weight: 500 r;
        font-size: 14px;
        padding: 7px 25px;


    }

    #Order {


        top: 35%;
        left: 13%;
        width: 280px;
        height: 100px;

        font-weight: 200;
        font-size: small;

    }

    .main_h1 {

        font-size: x-large;
    }

    .main_hh {
        padding: 60px;
        /* display: flex; */
        font-size: xx-large;
        /* display: none; */
        height: 100%;
    }

    .web {
        /* display: none; */
        margin: aut0;

        width: 79vw;
        height: 10vh;
        overflow: hidden;
         background-color: rgb(216, 124, 11);
    }
}